<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>WineVybe</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">WineVybe</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Wines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container my-5">
      <h1 class="text-center">Our Wines</h1>
      <p class="text-center">Discover the finest wines from around the world</p>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="./images/wine2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Grand Cru Brut Champagne</h5>
              <p class="card-text">Brand - De Margerie</p>
              <p class="card-text">Price - $52.99</p>
              <p class="card-text">Taste - Cherry, Berry, Toast</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="./images/wine1.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Reserva Cabernet Sauvignon, 2020</h5>
              <p class="card-text">Brand - De Margerie</p>
              <p class="card-text">Price - $14.99</p>
              <p class="card-text">Taste - Black Currant, Blackberry, Spice</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="./images/wine3.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Cotes Du Rhone Rose</h5>
                <p class="card-text">Brand - Guy Mousset</p>
                <p class="card-text">Price - $11.99</p>
                <p class="card-text">Taste - Strawberry, Cherry</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="./images/wine4.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Chardonnay Arroyo Seco, 2019</h5>
                <p class="card-text">Brand - Post Summit</p>
                <p class="card-text">Price - $19.99</p>
                <p class="card-text">Taste - Pear, Lemon, Toast</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
