{{#if loggedIn}}
  <section class="wine">
    <img src="./images/wine1.png" />
    <div class="Wine Details">
      <p>Brand: Guy Mousset</p>
      <p>Name: Guy Mousset Cotes Du Rhone Rose</p>
      <p>Taste: Black Currant, Blackberry, Spice </p>
      <p>Price: $14.99</p>
    </div>
    <img src="./images/wine2.png" />
    <div class="Wine2 Details"
    <p>Name: De Margerie Grand Cru Brut Champagne</p>
    <p>Brand: De Margerie</p>
    <p>Taste: Cherry, Berry, Toast </p>
    <p>Price: $52.99 </p>
  </section>



  <section>
  </section>
  <!-- Otherwise, provide a link to login -->
{{else}}
  <a href="/login">You must login first to view Wines</a>
{{/if}}