<!-- If the user is logged in, render the painting content -->
{{#if loggedIn}}
  <section class="Wine">
    <img src="/images/wine1.png" alt="{{}}" />
    <div class="Wines"></div>
  </section>
  <!-- Otherwise, provide a link to login -->
{{else}}
  <a href="/login">You must login first to view wine</a>
{{/if}}